<% present(@quote) do |quote| %>
  <% if QuoteStatus.action_permitted?(:accept, quote.status) %>
    <a href="#request-change-model" role="button" class="btn btn-grey" data-toggle="modal">
      <% if quote.status == "changes requested" %>
        Request More Changes
      <% else %>
        Request Changes
      <% end %>
    </a>
    <%= render 'request_change_form' %>

    <a href="#accept_quote_model" role="button" class="btn btn-satgreen" data-toggle="modal"><i class="icon-ok"></i> Proceed with Order</a>

    <div id="accept_quote_model" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Proceed with Order?</h3>
      </div>
      <div class="modal-body">
        <p>By proceeding with this order you are accepting to purchase all items outlined in this quote REF#<%= quote.number %>. Would you like to proceed?</p>
      </div>
      <div class="modal-footer">
        <%= link_to "Cancel", '', {:class => 'btn btn-lightgrey', 'data-dismiss' => 'model'} %>
        <%= link_to '<i class="icon-ok"></i> Proceed with Order'.html_safe, {:action => 'accept', :quote_id => quote.number, :user_email => quote.customer_email, :user_token => quote.customer_authentication_token}, {:class => 'btn btn-green'} %>
      </div>
    </div>
  <% end %>
<% end %>