<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="flash-alert">
      <p>Please correct the following errors:</p>
    </div>  
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>        