<div id="accept-notice-model" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Accept Hire Agreement</h3>
  </div>
  <div class="modal-body">
    <p>By accepting this hire agreement you agree that all of the details that you have provided are true and correct, you confirm that you have read and understood all of the details provided including attached documentation and are happy for us to verify your details and proceed with the booking.</p>

    <p>If you have any enquiries, questions or concerns, please contact us on 1300 287 494.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-grey" data-toggle="modal" data-target="#accept-notice-model" aria-hidden="true">Cancel</button>
    <a href="#" class="btn btn-satgreen submit-btn"><i class="icon-ok"></i> Accept Hire Agreement</a>
  </div>
</div>