<p>This contract may be accepted by one or both of the following options:</p>
<p>
  <ol>
    <li>Click on <b>Accept Vehicle Purchase Contract</b> below. You will see a pop-up notification where your confirmation is required.</li>
    <li> Alternatively, <br>
      <ul>
        <li>Download a PDF version of the contract by clicking the <b>Download Contract in PDF format</b> button in Section 2 above.</li>
        <li>Print the contract, sign it and scan it in PDF or JPEG format.</li>
        <li>The signed contract may be uploaded using the <b>Upload Contract</b> button below.</li>
        <li>Your contract manager will receive the signed document and confirm their acceptance of the contract.</li>
      </ul>
    </li>
  </ol>
</p>
