<div id="accept-vehicle-contract-model" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Accept Vehicle Purchase Contract</h3>
  </div>
  <div class="modal-body">
    <p>By accepting this vehicle purchase contract:</p>
    <p>
      <ol>
        <li>you agree that you have read and agree with the details of the contract</li>
        <li>you agree that you have read and understood the terms and conditions</li>
        <li>you are requesting us to proceed with the ordering and assembling of the listed items in the contract.</li>
      </ol>  
    </p>
    <p>If you have any enquiries, questions or concerns, please contact us on 1300 287 494.</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-grey" data-toggle="modal" data-target="#accept-vehicle-contract-model" aria-hidden="true">Cancel</button>
    <a href="#" class="btn btn-satgreen submit-btn"><i class="icon-ok"></i> Accept Vehicle Purchase Contract</a>
  </div>
</div>