<div id="review-vehicle-contract-model" class="modal hide" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Review &amp; Accept Vehicle Purchase Contract</h3>
  </div>
  <div class="modal-body">
    <ol>
      <li>Verify your contact details.</li>
      <li>Download and review the attached contract. The terms and conditions are also included.</li>
      <li>Review the vehicle and contract details.</li>
      <li>Accept the contract to make it effective.</li>
    </ol>
  </div>
  <div class="modal-footer">
    <button class="btn btn-grey" data-toggle="modal" data-target="#review-vehicle-contract-model" aria-hidden="true">Continue</button>
  </div>
</div>