<section class="signatures">
  <h1>G - SIGNATURE CONFIRMATION</h1>
  <div class="row-fluid">
    <div class="span12">
      <section class="signature-heading">
        <p>THE COMPLETED SIGNATURE DETAILS CONFIRM THE CONTRACT BETWEEN THE DEALER AND THE CUSTOMER</p>
        <p>THIS DOCUMENT IS A LEGALLY BINDING CONTRACT</p>
        <p>BETWEEN THE TWO PARTIES NAMED BELOW</p>
      </section>
    </div>  
  </div>      

  <div class="row-fluid">
    <div class="span12">
    <section class="signatures">
      <table>
        <tbody>
          <tr>
            <td>Customer 1 Signature:</td>
            <td><%= @view_contract.customer.name %></td>
            <td>Customer 2 Signature:</td>
            <td></td>
          </tr>
          <tr>
            <td>Date Signed:</td>
            <td><%= @vehicle_contract.statuses.first.status_timestamp_display %></td>
            <td>Signed on behalf of dealer:</td>
            <td><%= @view_contract.manager.name %></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>  