<section class="special-conditions">
  <h1>D - SPECIAL CONDITIONS</h1>
  <div class="row-fluid">
    <div class="span12">
      <table>
        <tbody>
          <tr>
            <td><b>SPECIAL CONDITIONS</b></td>
          </tr>
          <tr>
            <td><%= @view_contract.special_conditions %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <p>ACCEPTANCE OF VEHICLES DETAILS, OPTIONS AND ACCESSORIES</p>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <table class="acceptance">
        <tbody>
          <tr>
            <td>Date</td>
            <td>Customer Initials</td>
            <td>Dealer Representative</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><%= @view_contract.manager_name %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
