<section class="signatures">
  <h1>G - SIGNATURE</h1>

  <div class="row-fluid">
    <div class="span12">
      <p class="important">IMPORTANT!!</p>
      <section class="signature-heading">
        <p>READ THIS DOCUMENT CAREFULLY BEFORE YOU SIGN</p>
        <p>THIS DOCUMENT BECOMES A LEGALLY BINDING CONTRACT</p>
        <p>UPON ACCEPTANCE BY THE DEALER</p>
      </section>
    </div>  
  </div>      

  <div class="row-fluid">
    <div class="span12">
    <section class="signatures">
      <div class="span1"></div>
      <div class="span5">
        <p>Customer 1 Signature ____________________________</p>
        <p>Date Signed ____________________________________</p>
      </div>
      <div class="span5">
        <p>Customer 2 Signature ______________________________</p>
        <p>Signed on behalf of dealer __________________________</p>
      </div>
    </section>
  </div>
</section>