<div class="page-header">
  <h1>Thank you</h1>
</div>

<p>Your enquiry has been submitted. Your reference number is <%= @reference %>. One of our team members will be in touch with you shortly.</p>

<br>

<p>Best Regards, <br>
   Bus 4x4 team.</p>


<br><br>

<a href="https://bus4x4.com.au" class="btn btn-green">Go to Bus 4x4 Website</a>
