<meta name="viewport" id="vp" content="initial-scale=1.0,user-scalable=yes,maximum-scale=2,width=device-width" />

<meta name="apple-mobile-web-app-capable" content="no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="apple-mobile-web-app-title" content="Service Manager">

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="apple-touch-icon" href="/AppIcon.appiconset/Icon-60@2x.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/AppIcon.appiconset/Icon-60@3x.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/AppIcon.appiconset/Icon-76.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/AppIcon.appiconset/Icon-76@2x.png" />
<link rel="apple-touch-icon" sizes="58x58" href="/AppIcon.appiconset/Icon-Small@2x.png" />

<link href="/AppStartupImage/apple-touch-startup-image-320x480.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-640x960.png" media="(device-width: 320px) and (device-height: 460px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-640x1136.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-750x1334.png" media="(device-width: 375px) and (device-height: 667px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-1242x2208.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-2208x1242.png" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image">
<link href="/AppStartupImage/apple-touch-startup-image-768x1024.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)" rel="apple-touch-startup-image" />
<link href="/AppStartupImage/apple-touch-startup-image-1024x768.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)" rel="apple-touch-startup-image" />
<link href="/AppStartupImage/apple-touch-startup-image-1536x2048.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<link href="/AppStartupImage/apple-touch-startup-image-2048x1536.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) and (-webkit-min-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
<title><%= title %></title>

<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>