<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head', title: 'New Enquiry - Bus 4x4' %>
</head>
<body class="enquiry theme-white">
  <div class="wrapper">
    <div class="row-fluid">
      <div class="span8 offset2">
        <div class="enquiry-header">
          <span id="branding" class="pull-left"></span>
          <a href="#" class="back btn btn-grey pull-right">Go Back</a>
        </div>
        <div class="enquiry-body">
          <%= yield %>
        </div>
        <div class="enquiry-footer">
          <div class="credits">Cloud Software developed in-house by Bus4x4</div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
